# Dependencies
backend/node_modules/
frontend/node_modules/

# Build output
# frontend/dist/  # 注释掉，因为要部署到 GitHub Pages

# Environment variables
backend/.env
frontend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Local
*.local
